
@inject NavigationManager _navigationManager
@inject UserService _userService
@inject BrowserStorageService _browserStorageService
@page "/signin"
@using Project2UI.Models
@using Project2UI.Services

<h2><b>Login</b></h2>
<hr>

<div class="col-6">
    <input type="text" @bind="Username" class="form-control" placeholder="username">
</div>
<br />
<div class="col-6">
    <input type="password" @bind="Password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-6">
    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
</div>

@code {
    string Username { get; set; }
    string Password{ get; set; }

    public async Task LoginUser()
    {
        var result = await _userService.SignIn(new SignInRequest
        {
            Username = Username,
            Password = Password
        });
        if (result.Success)
        {
            _navigationManager.NavigateTo("/");
        }

    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var id =  await _browserStorageService.GetItem<UserStateModel>("Project2");
        if(string.IsNullOrWhiteSpace(id.UserId))
            _navigationManager.NavigateTo("/signin");

        StateHasChanged();
    }
}